<footer class="site-footer">
    <div class="container">
    <div class="row">
    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
    <div class="block-7">
    <h3 class="footer-heading mb-4">About Us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae reiciendis distinctio voluptates
    sed dolorum excepturi iure eaque, aut unde.</p>
    </div>
    </div>
    <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
    <h3 class="footer-heading mb-4">Quick Links</h3>
    <ul class="list-unstyled">
    <li><a href="#">Supplements</a></li>
    <li><a href="#">Vitamins</a></li>
    <li><a href="#">Diet &amp; Nutrition</a></li>
    <li><a href="#">Tea &amp; Coffee</a></li>
    </ul>
    </div>
    <div class="col-md-6 col-lg-3">
    <div class="block-5 mb-5">
    <h3 class="footer-heading mb-4">Contact Info</h3>
    <ul class="list-unstyled">
    <li class="address">59/51-A, Birhana Road, Kanpur-208001</li>
    <li class="phone"><a href="tel:+919335744755">+91-9335 744 755</a></li>
    <li class="email"><a href="mailto:drchaturvedishcpl@gmail.com" class="__cf_email__" data-cfemail="7f1a121e16131e1b1b0d1a0c0c3f1b10121e1611511c1012">drchaturvedishcpl@gmail.com</a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
    <div class="col-md-12">
    <p>
    
    Copyright &copy;
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
    with <i class="icon-heart" aria-hidden="true"></i> by <a href="tel:+916398026433" target="_blank" class="text-primary">Shivam & Vishu</a>
    
    </p>
    </div>
    </div>
    </div>
    </footer>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/main.js"></script>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-23581568-13');
    </script>
    </body>
    
    </html>